<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script></head> -->

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>


<body>

    <h1>This is a Heading</h1>
    <p>This is a paragraph.</p>

    <!-- <select class="js-example-basic-single" name="state">
        <option value="AL">Alabama</option>
        <option value="WY">Wyoming</option>
    </select> -->




<select id="appbundle_items_accountdebet" name="appbundle_items[accountdebet]" class="js-example-basic-single">
    <option value="1">001 - Środki trwałe x</option>
    <option value="2">001-001 - Środek trwały 1 </option>
    <option value="3">001-002 - Środek trwały 2 </option>
    <option value="4">002 - Kasa</option>
    <option value="7">04-33 - test</option>
    <option value="10">05 - dff</option>
</select>



    <!-- <script type="text/javascript">
    $(document).ready(function () {
        $('.js-example-basic-single').select2();
    });
    </script> -->

<script language="JavaScript">
    $(document).ready(function() {
        $(".js-example-basic-single").select2();
    });
</script>

</body>

</html>